.container {
  width: 750px;
  height: 650px;
  margin: auto;
  margin-top: 3rem;
  background: linear-gradient(
    179.4deg,
    rgb(12, 20, 69) -16.9%,
    rgb(71, 30, 84) 119.9%
  );
  border-radius: 25px;
  box-shadow: 0 0 150px rgba(0, 0, 0, 0.5); /* Add a shadow with a 10px blur and a 0.5 opacity */
}

.topBar {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding-top: 60px;
}
.cityInput {
  height: 65px;
  width: 65%;
  background-color: whitesmoke;
  border: none;
  outline: none;
  border-radius: 35px;
  color: gray;
  font-size: 18px;
  font-weight: 400;
  padding-left: 15px;
}
.searchIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  background-color: whitesmoke;
  border-radius: 35px;
  cursor: pointer;
}
.weatherImg {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.weatherTemp {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 50px;
  font-weight: 600;
}
.weatherLocation {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 30px;
}
.element {
  margin: auto;
  display: flex;
  align-items: flex-start;
  gap: 12px;
  flex-direction: row;
}
.dataContainer {
  color: white;
  display: flex;
  margin-top: 85px;
}
.data {
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: 400;
  flex-direction: column;
}
.humidityText {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 200;
}
.windSpeedText {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 200;
}
.backGround {
  position: fixed;
  background: linear-gradient(
    178.1deg,
    rgb(60, 55, 106) 8.5%,
    rgb(23, 20, 69) 82.4%
  );
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}
